
.form-container {
    background-image: url(/home/earamirez/Pro/lista-compras/src/img/apple.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    padding: 65px;
    border-radius: 10px;

}

.one {
    margin-top: 50px;
    margin-bottom: 15px;

}

.two {
    margin-top: 30px;
    margin-bottom: 50px;
}